<h1>Всего хорошего !!! </h1>
<p>На найсичах повидались. </p>
<p>
Изи для меня <%= link_to "Я лучший в мире ", say_hello_path %>!
</p>
<p>
<ul>
<% for file in @files %>
<li>file name is: <%= file %> </li>
<% end %>
</ul>
</p>
